/*
#certificados {
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px); // Efecto de elevación en hover 
    }

    .card-img-top {
      width: 100%;
      height: 200px; // Ajusta la altura de la imagen
      object-fit: cover; // Recorta la imagen para llenar el contenedor
      border-bottom: 1px solid #ddd;
    }

    .card-body {
      padding: 20px;

      .card-title {
        font-size: 1.25rem;
        margin-bottom: 10px;
      }

      .card-text {
        font-size: 1rem;
        color: #666;
      }
    }
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
}

*/