<section id="certificados" class="py-5">
    <div class="container">
      <h2 class="text-center mb-5">Certificados</h2>
      <div class="row">
        <!-- Certificado 1 -->   
        <div class="col-md-4">
          <a  href="https://www.credly.com/badges/86326777-5e9e-41b8-8f93-7e562c93809a/linked_in_profile"  target="_blank" style="text-decoration: none; color: inherit;">
            <div class="card mb-4">
              <img src="assets\certificates\Certificado AWS.png" class="card-img-top" alt="Certificado 3">
              <div class="card-body">
                <h5 class="card-title">AWS Certified Cloud Practitioner</h5>
                <p class="card-text">El certificado AWS Cloud Practitioner acredita conocimientos sobre la nube de AWS, incluyendo servicios, seguridad y conceptos de facturación.</p>
              </div>
            </div>
          </a>
        </div>
        <!-- Certificado 2 -->
        <div class="col-md-4">
          <a  href="https://cert.efset.org/QEwB7U"  target="_blank" style="text-decoration: none; color: inherit;">
            <div class="card mb-4">
              <img src="assets\certificates\EF SET Certificate inglés_recortada.jpg" class="card-img-top" alt="Certificado 2">
              <div class="card-body">
                <h5 class="card-title">EF SET English Certificate</h5>
                <p class="card-text">
                  Certifica el nivel de inglés según el Marco Común Europeo, evaluando habilidades de lectura y comprensión auditiva.</p>
              </div>
            </div>
          </a>
        </div>
        <!-- Certificado 3 -->
        <div class="col-md-4">
          <a  href="https://www.credly.com/earner/earned/badge/2266343b-d855-461b-8509-7428410b5439"  target="_blank" style="text-decoration: none; color: inherit;">
            <div class="card mb-4">
              <img src="assets/certificates/GitHubFoundations_Badge20241008_page-0001.jpg" class="card-img-top" alt="Certificado 1">
              <div class="card-body">
                <h5 class="card-title">Github Foundations</h5>
                <p class="card-text">
                  Valida conocimientos de Git y GitHub para gestión de proyectos y colaboración.</p>
              </div>
            </div>
          </a>
        </div>
        <!-- Certificado 4 -->
        <div class="col-md-4">
          <a  href="https://learn.microsoft.com/api/credentials/share/es-es/VineBarrancoAlonso/696022690EA47631?sharingId=A5B889C89C43AD43"  target="_blank" style="text-decoration: none; color: inherit;">
            <div class="card mb-4">
              <img src="assets\certificates\Credencial - vinebarrancoalonso _ Microsoft Learn_Crea y administra aplicaciones de lienzo con Power Apps_page-0001.jpg" class="card-img-top" alt="Certificado 3">
              <div class="card-body">
                <h5 class="card-title">Crear y administrar aplicaciones de lienzo con Power Apps</h5>
                <p class="card-text">Valida habilidades en la administración y orquestación de contenedores utilizando Kubernetes.</p>
              </div>
            </div>
          </a>
        </div>
        <!-- Certificado 5 -->
        <div class="col-md-4">
          <a  href="https://www.udemy.com/certificate/UC-a7a179e6-602c-49fe-8dd4-40e0cc95299f/"  target="_blank" style="text-decoration: none; color: inherit;">
            <div class="card mb-4">
              <img src="assets\certificates\Udemy_certificate_Linux_essentials.jpg" class="card-img-top" alt="Certificado 3">
              <div class="card-body">
                <h5 class="card-title">LPI Linux Essentials: Temario oficial</h5>
                <p class="card-text">Valida habilidades en la administración y orquestación de contenedores utilizando Kubernetes.</p>
              </div>
            </div>
          </a>
        </div>
        <!-- Certificado 6 -->
        <div class="col-md-4">
          <a  href="https://www.udemy.com/certificate/UC-ced93af9-c821-43e7-8229-f69675a325c8/"  target="_blank" style="text-decoration: none; color: inherit;">
            <div class="card mb-4">
              <img src="assets\certificates\Udemy_certificate_Python_total.jpg" class="card-img-top" alt="Certificado 3">
              <div class="card-body">
                <h5 class="card-title">Python Total</h5>
                <p class="card-text">Valida habilidades en la administración y orquestación de contenedores utilizando Kubernetes.</p>
              </div>
            </div>
          </a>
        </div>
        <!-- Certificado 7 -->
        <div class="col-md-4">
          <a  href="https://www.udemy.com/certificate/UC-cde1bf1c-110e-454c-8e90-1a9eadbffa68/"  target="_blank" style="text-decoration: none; color: inherit;">
            <div class="card mb-4">
              <img src="assets\certificates\Udemy_certificate_Scrum_master.jpg" class="card-img-top" alt="Certificado 3">
              <div class="card-body">
                <h5 class="card-title">Scrum Master </h5>
                <p class="card-text">Valida habilidades en la administración y orquestación de contenedores utilizando Kubernetes.</p>
              </div>
            </div>
          </a>
        </div>
        <!-- Certificado 8 -->
        <div class="col-md-4">
          <a  href="https://www.udemy.com/certificate/UC-6d050b68-cd3c-4245-b9b8-33a012c224ec/"  target="_blank" style="text-decoration: none; color: inherit;">
            <div class="card mb-4">
              <img src="assets\certificates\Udemy_certificate_Selenium.jpg" class="card-img-top" alt="Certificado 3">
              <div class="card-body">
                <h5 class="card-title">Seleniium</h5>
                <p class="card-text">Valida habilidades en la administración y orquestación de contenedores utilizando Kubernetes.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
</section>
  