<section id="certificados" class="py-5">
    <div class="container">
      <h2 class="text-center mb-5">Certificados</h2>
      <div class="row">
        <!-- Certificado 1 -->
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="assets/cert1.png" class="card-img-top" alt="Certificado 1">
            <div class="card-body">
              <h5 class="card-title">AWS Certified Solutions Architect</h5>
              <p class="card-text">Certificación que demuestra conocimientos avanzados en la arquitectura de soluciones en la nube utilizando AWS.</p>
            </div>
          </div>
        </div>
        <!-- Certificado 2 -->
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="assets/cert2.png" class="card-img-top" alt="Certificado 2">
            <div class="card-body">
              <h5 class="card-title">Docker Certified Associate</h5>
              <p class="card-text">Certificación de habilidades en la administración y desarrollo de aplicaciones utilizando contenedores Docker.</p>
            </div>
          </div>
        </div>
        <!-- Certificado 3 -->
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="assets/cert3.png" class="card-img-top" alt="Certificado 3">
            <div class="card-body">
              <h5 class="card-title">Certified Kubernetes Administrator</h5>
              <p class="card-text">Certificación que valida habilidades en la administración y orquestación de contenedores utilizando Kubernetes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
  