<section id="certificados" class="py-5">
    <div class="container">
      <h2 class="text-center mb-5">Certificados</h2>
      <div class="row">
        <!-- Certificado 1 -->
        
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="assets\certificates\Certificado AWS.png" class="card-img-top" alt="Certificado 3">
            <div class="card-body">
              <h5 class="card-title">AWS Certified Cloud Practitioner</h5>
              <p class="card-text">El certificado AWS Cloud Practitioner acredita conocimientos sobre la nube de AWS, incluyendo servicios, seguridad y conceptos de facturación.</p>
            </div>
          </div>
        </div>
        <!-- Certificado 2 -->
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="assets\certificates\EF SET Certificate inglés_recortada.jpg" class="card-img-top" alt="Certificado 2">
            <div class="card-body">
              <h5 class="card-title">EF SET English Certificate</h5>
              <p class="card-text">
                Certifica el nivel de inglés según el Marco Común Europeo, evaluando habilidades de lectura y comprensión auditiva.</p>
            </div>
          </div>
        </div>
        <!-- Certificado 3 -->
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="assets/certificates/GitHubFoundations_Badge20241008_page-0001.jpg" class="card-img-top" alt="Certificado 1">
            <div class="card-body">
              <h5 class="card-title">Github Foundations</h5>
              <p class="card-text">
                Valida conocimientos de Git y GitHub para gestión de proyectos y colaboración.</p>
            </div>
          </div>
        </div>
        <!-- Certificado 4 -->
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="assets\certificates\Certificado AWS.png" class="card-img-top" alt="Certificado 3">
            <div class="card-body">
              <h5 class="card-title">Certified Kubernetes Administrator</h5>
              <p class="card-text">Valida habilidades en la administración y orquestación de contenedores utilizando Kubernetes.</p>
            </div>
          </div>
        </div>
        <!-- Certificado 5 -->
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="assets\certificates\Certificado AWS.png" class="card-img-top" alt="Certificado 3">
            <div class="card-body">
              <h5 class="card-title">Certified Kubernetes Administrator</h5>
              <p class="card-text">Certificación que valida habilidades en la administración y orquestación de contenedores utilizando Kubernetes.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
  