/*header {
    background: #343a40;
    color: #fff;
  
    h1 {
      font-size: 3rem;
      font-weight: bold;
    }
  
    p {
      font-size: 1.2rem;
    }
  
    .btn {
      margin-top: 20px;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 1rem;
      &:hover {
        background: #007bff;
      }
    }
}*/

//estilos de la imagen
img {
  position: relative;
  border-radius: 8px; // Esquinas redondeadas para que se vea más limpio
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.2); // Resplandor alrededor de la imagen
  background-color: rgba(255, 255, 255, 0.1); // Fondo clareado en torno a la imagen
  padding: 1rem; // Espacio alrededor de la imagen para mayor separación
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05); // Efecto de aumento al pasar el ratón por encima
    box-shadow: 0 8px 40px rgba(255, 255, 255, 0.3); // Aumenta el resplandor al hacer hover
  }
}

//Estilos del header
.hero-section {
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background: #0b0d22; /* Color de fondo similar */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: left;

  .container {
    height: 100%; /* Altura completa del contenedor */
    display: flex;
    align-items: center;
  }

  .row {
    width: 100%; /* Ancho total de la fila */
  }

  .hero-text {
    h1 {
      font-size: 5rem;
      margin-bottom: 20px;
      font-weight: 700;
    }

    p {
      font-size: 1.25rem;
      line-height: 1.8;
    }
  }

  .hero-image {
    max-width: 400px; /* Ancho máximo de la imagen */
    height: auto;
    animation: fadeIn 2s ease-in-out;
  }

    /* Curva en la parte inferior del header */
    &::after {
      content: '';
      position: absolute;
      bottom: -2px; /* Ajustar la posición de la curva */
      left: 0;
      width: 100%;
      height: 60px; /* Altura del arco */
      background-color: #ffffff; /* Color del arco */
      clip-path: ellipse(65% 100% at 50% 100%); /* Crea una curva suave */
      z-index: 1; /* Asegura que esté detrás del contenido del header */
    }

  /* Animación de entrada */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}



  