<!--header class="bg-dark text-white text-center py-5">
    <div class="container">
      <h1>Tu Nombre</h1>
      <p>Ingeniero DevOps | Especialista en Infraestructura y Automatización</p>
      <a href="#contacto" class="btn btn-primary">Contáctame</a>
    </div>
</header-->

<!--header class="hero-section">
  <div class="container hero-content text-center text-white">
    <h1 class="display-1">Welcome.</h1>
    <p class="lead">
      My name is [Tu Nombre], a DevOps Engineer passionate about automation and cloud infrastructure. I have experience in a wide range of cloud solutions, from server management to CI/CD pipeline implementations, focusing on efficiency and reliability.
    </p>
    <img src="assets/img/laptop-minimalist.png" class="hero-image" alt="Imagen decorativa de código y laptop">
  </div>
</header-->

<header class="hero-section">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <!-- Columna de texto -->
      <div class="col-md-6 text-left hero-text">
        <h1 class="display-1">Welcome.</h1>
        <p class="lead">
          My name is Alonso, a DevOps Engineer passionate about automation and cloud infrastructure. I have experience in a wide range of cloud solutions, from server management to CI/CD pipeline implementations, focusing on efficiency and reliability.
        </p>
      </div>
      <!-- Columna de imagen -->
      <div class="col-md-6 text-center">
        <img src="assets/img/laptop-minimalist.png" class="img-fluid hero-image" alt="Imagen decorativa de laptop y código">
      </div>
    </div>
  </div>
</header>


   
