<!--footer class="text-white py-3 text-center">
    <div class="container">
      <p>&copy; 2024 Alonso Viñé Barrancos. Todos los derechos reservados.</p>
    </div>
</footer-->

<footer class="footer-section">
  <div class="container text-center text-white py-5">
    <p>&copy; 2024 Tu Nombre. Todos los derechos reservados.</p>
    <!-- Enlaces de redes sociales u otros iconos -->
    <div class="social-icons">
      <a href="https://github.com/AlonsoVine" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/alonso-vi%C3%B1%C3%A9-barrancos/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <!--a href="https://example.com" target="_blank"><i class="fas fa-globe"></i></a-->
      <a href="https://learn.microsoft.com/es-es/users/vinebarrancoalonso/" target="_blank"><i class="fab fa-microsoft"></i></a>
    </div>
  </div>
</footer>
