footer {
    background: #0b0d22;
    color: #fff;
    padding: 20px 0;
}

.footer-section {
    position: relative;
    background: #0b0d22; /* Color de fondo */
    color: #ffffff;
    padding: 50px 0;
    text-align: center;
    overflow: hidden;
  
    /* Crear la curva en la parte superior del footer */
    &::before {
      content: '';
      position: absolute;
      top: -100px; /* Ajustar la posición vertical */
      left: 0;
      width: 100%;
      height: 200px; /* Altura de la curva */
      background-color: #ffffff; /* Color del arco */
      clip-path: ellipse(100% 100% at 50% 0); /* Forma del arco */
      z-index: 1; /* Asegura que esté detrás del contenido del footer */
    }

    p {
        font-size: 1rem;
        margin: 2%; /* Ajusta este margen para aumentar el espacio inferior del texto */
    }
  
    .container {
      position: relative;
      z-index: 2; /* Asegura que el contenido esté por encima del arco */
    }
  
    .social-icons {
      margin-top: 20px;
  
      a {
        margin: 0 10px;
        padding: 0 5px;
        font-size: 2.5rem;
        color: #ffffff;
        transition: color 0.3s ease, transform 0.3s ease; /* Añade transform a la transición */

        display: inline-block; /* Asegura que transform funcione correctamente */

        &:hover {
          color: #dcb32d; /* Cambia el color en hover */
          //transition: transform 0.3s ease-in-out;
          transform: scale(1.5); /* Aumenta el tamaño */
          text-shadow: 0 0 2px #ffee10;
        }
      }
    }
}
  