<section id="perfil" class="py-5">
    <div class="container">
      <img src="assets/img/mi-foto-cv1.png" class="perfil-image mb-4" alt="Imagen de perfil">
      
      <p>
        ¡Hola Mundo! Soy Alonso, un entusiasta de las nuevas tecnologías.
      </p>
      <p>
        Me caracterizo por mi motivación y proactividad, me gusta encontrar nuevos desafíos.
      </p>
      <!--p>
        Poseo la capacidad de encontrar soluciones ingeniosas a problemas complejos.
      </p-->
      <p>
        Estoy entusiasmado por las oportunidades emocionantes que el mundo del desarrollo de software tiene para ofrecer.
      </p>
      <!--p>
        Soy un ingeniero DevOps con experiencia en la implementación y gestión de infraestructura en la nube, automatización de procesos y desarrollo de soluciones CI/CD para optimizar el ciclo de vida de desarrollo. Apasionado por la tecnología y la mejora continua.
      </p-->
    </div>
</section>
  