#perfil {
    text-align: center;
  
    h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.2rem;
      color: #666;
    }

    //estilos de la imagen
  img {
    position: relative;
    //border-radius: 8px; // Esquinas redondeadas para que se vea más limpio
    //box-shadow: 0 4px 30px rgba(255, 255, 255, 0.2); // Resplandor alrededor de la imagen
    //background-color: rgba(255, 255, 255, 0.1); // Fondo clareado en torno a la imagen
    padding: 1rem; // Espacio alrededor de la imagen para mayor separación
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05); // Efecto de aumento al pasar el ratón por encima
      //box-shadow: 0 8px 40px rgba(255, 255, 255, 0.3); // Aumenta el resplandor al hacer hover
    }
  }

    .perfil-image {
      width: 30%; /* Ajuste del ancho de la imagen al 30% de la pantalla */
      max-width: 400px; /* Ancho máximo para limitar el tamaño en pantallas grandes */
      height: auto; /* Mantiene la proporción de la imagen */
      border-radius: 50%; /* Hace que la imagen sea circular, si la deseas redonda */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar la imagen */
      margin: 0 auto 20px; /* Centrar la imagen horizontalmente y añadir margen inferior */
      display: block; /* Asegura que la imagen se comporte como un bloque */
    }

    @media (max-width: 768px) {
      .perfil-image {
        width: 50%; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
      }
    }
    
}
  