<!--section id="proyectos" class="py-5 bg-light">
    <div class="container">
      <h2 class="text-center mb-5">Proyectos Destacados</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="project mb-4 p-4 border">
            <h3>Automatización de Despliegue con Kubernetes</h3>
            <p>Desarrollé una solución para desplegar microservicios en un clúster de Kubernetes, utilizando Helm para gestionar configuraciones y Jenkins para automatizar pipelines.</p>
            <a href="#" class="btn btn-primary">Ver Proyecto</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="project mb-4 p-4 border">
            <h3>Infraestructura como Código con Terraform</h3>
            <p>Implementación de infraestructura en AWS utilizando Terraform para la gestión de múltiples entornos y automatización de despliegues.</p>
            <a href="#" class="btn btn-primary">Ver Proyecto</a>
          </div>
        </div>
      </div>
    </div>
</section-->


<section id="proyectos" class="py-5 bg-light">
  <div class="container">
    <h5 class="mb-5" id="titulo">Proyectos Destacados.</h5>
    <div class="row">
      <!-- Card 1 -->
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
          <div id="carouselExample1" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets\proyectos\forYouTobe\Leonardo_Phoenix_Una_electrizante_y_vibrante_imagen_con_temtic_3.jpg" class="d-block w-100" alt="Proyecto 1 - Imagen 1">
              </div>
              <div class="carousel-item">
                <img src="assets\proyectos\forYouTobe\Leonardo_Phoenix_Una_electrizante_y_vibrante_imagen_con_temtic_20.jpg" class="d-block w-100" alt="Proyecto 1 - Imagen 2">
              </div>
              <div class="carousel-item">
                <img src="assets\proyectos\forYouTobe\Leonardo_Anime_XL_An_electrifyingly_vibrant_speech_recognition_1.jpg" class="d-block w-100" alt="Proyecto 1 - Imagen 3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="card-body">
            <!-- Contenedor de título e icono de GitHub con Flexbox -->
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="card-title">ForYouToBe</h5>
              <!-- Icono de GitHub con enlace -->
               <div class="social-icons">
                <a href="https://github.com/AlonsoVine/forYouToBe" target="_blank"><i class="fab fa-github"></i></a>
               </div>
            </div>
            <p class="card-text">

              ForYouToBe es una herramienta en Python que permite descargar automáticamente el audio de videos de YouTube 
              y guardarlos en diferentes formatos como MP3, WAV o FLAC. También puedes ingresar una lista de URLs, seleccionar el
               formato deseado y elegir la carpeta de destino, lo que facilita la gestión y conversión de contenido multimedia.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
          <div id="carouselExample2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets\proyectos\photoDateRenamer\fotografia-movil-versus-camara2.jpg" class="d-block w-100" alt="Photo date renamer - primera imagen">
              </div>
              <div class="carousel-item">
                <img src="assets\proyectos\photoDateRenamer\img_codigo_photoDateRenamer2.png" class="d-block w-100" alt="Photo date renamer - segunda imagen">
              </div>
              <div class="carousel-item">
                <img src="assets\proyectos\photoDateRenamer\photos2.jpg" class="d-block w-100" alt="Photo date renamer - tercera imagen">
              </div>
              <div class="carousel-item">
                <img src="assets\proyectos\photoDateRenamer\fotografa.png" class="d-block w-100" alt="Photo date renamer - tercera imagen">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="card-body">
            <!-- Contenedor de título e icono de GitHub con Flexbox -->
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="card-title">PhotoDateRenamer</h5>
              <!-- Icono de GitHub con enlace -->
               <div class="social-icons">
                <a href="https://github.com/AlonsoVine/PhotoDateRenamer" target="_blank"><i class="fab fa-github"></i></a>
               </div>
            </div>
            <p class="card-text">
              PhotoDateRenamer es una herramienta en Python que renombra automáticamente tus fotos utilizando los metadatos EXIF,
               concretamente la fecha en que fueron tomadas. El nuevo nombre de la foto seguirá el formato YYYY_MM_DD_nombreOriginal.tipoArchivo,
                facilitando la organización cronológica de tus imágenes.</p>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
          <div id="carouselExample3" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets\proyectos\jarvisVozAssistant\speech-recognition-img2.png" class="d-block w-100" alt="Proyecto 3 - Imagen 1">
              </div>
              <div class="carousel-item">
                <img src="assets\proyectos\jarvisVozAssistant\javis_captura_código.png" class="d-block w-100" alt="Proyecto 3 - Imagen 2">
              </div>
              <div class="carousel-item">
                <img src="assets\proyectos\jarvisVozAssistant\speech-recognition.jpg" class="d-block w-100" alt="Proyecto 3 - Imagen 3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="card-body">
            <!-- Contenedor de título e icono de GitHub con Flexbox -->
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="card-title">Jarvis Asistente de Voz</h5>
              <!-- Icono de GitHub con enlace -->
               <div class="social-icons">
                <a href="https://github.com/AlonsoVine/jarvisVozAssistant" target="_blank"><i class="fab fa-github"></i></a>
               </div>
            </div>
            <p class="card-text">
              Este es un proyecto de asistente virtual desarrollado en Python, que permite realizar varias tareas mediante comandos de voz.
               El asistente puede realizar acciones como abrir aplicaciones, buscar en internet, consultar el clima, 
               crear recordatorios, y enviar correos electrónicos, entre otros.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
          <div id="carouselExample4" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets\proyectos\spaceInvaders\recreativas_invaders.png" class="d-block w-100" alt="Proyecto 3 - Imagen 1">
              </div>
              <div class="carousel-item">
                <img src="assets\proyectos\spaceInvaders\img_codigo_space_invaders.png" class="d-block w-100" alt="Proyecto 3 - Imagen 2">
              </div>
              <div class="carousel-item">
                <img src="assets\proyectos\spaceInvaders\Captura de pantalla recortada2.png" class="d-block w-100" alt="Proyecto 3 - Imagen 3">
              </div>
              <div class="carousel-item">
                <img src="assets\proyectos\spaceInvaders\AlbedoBase_XL_Create_an_iconic_image_of_Space_Invaders_featuri_20.jpg" class="d-block w-100" alt="Proyecto 3 - Imagen 3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample4" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample4" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="card-body">
            <!-- Contenedor de título e icono de GitHub con Flexbox -->
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="card-title">Space Invaders</h5>
              <!-- Icono de GitHub con enlace -->
               <div class="social-icons">
                <a href="https://github.com/AlonsoVine/spaceInvaders" target="_blank"><i class="fab fa-github"></i></a>
               </div>
            </div>
            <p class="card-text">
              Este proyecto es una implementación del clásico juego Space Invaders desarrollado en Python. En este juego,
               el jugador controla una nave espacial que debe disparar para eliminar las naves enemigas que se acercan. 
               El objetivo es destruir a todas las naves enemigas antes de que alcancen la parte inferior de la pantalla.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
