<section id="experiencia" class="py-5">
  <div class="container">
    <h5 class=" mb-5">Experiencia Profesional.</h5>

    <!-- Experiencia Fervimax -->
    <div class="job">
      <h3>Especialista en Testing Automático y Desarrollador Power Platform</h3>
      <h4>Fervimax Group (Fcc) - Mayo de 2024 - Present (6 meses)</h4>
      <p>
        En mi rol actual como Especialista en Testing Automático y Desarrollador Power Platform en <em>Fervimax Group</em>, soy responsable de implementar pruebas automáticas en el flujo CI/CD del 
        equipo de DevOps dentro del departamento de Digital Services de <em>FCC</em>, utilizando <strong>Selenium</strong> para garantizar la calidad y la fiabilidad del software.
      </p>
      <p>
        Como desarrollador en la <strong>Power Platform</strong>, diseño y construyo aplicaciones personalizadas con <strong>Power Apps</strong>, automatizo procesos mediante <strong>Power Automate</strong> y analizo datos con <strong>Power BI</strong>.
      </p>
      <p>
        También, he integrado mis habilidades de diseño utilizando <strong>Figma</strong> para crear prototipos y maquetas de las aplicaciones, asegurando que las interfaces sean intuitivas y alineadas 
        con las necesidades del usuario. Esta combinación de habilidades técnicas y de diseño me permite contribuir de manera efectiva a proyectos que mejoran la operatividad y la experiencia del cliente.
      </p>
      <p><strong><em>Ubicación:</em></strong> C.Federico Salmón, 13, 28016, Madrid</p>
    </div>

    <!-- Experiencia ATOS3 -->
    <div class="job">
      <h3>Desarrollador Full Stack</h3>
      <h4>Atos (Cestic)- Septiembre de 2022 - Agosto de 2024 (2 años)</h4>
      <p>
        Desempeñé un puesto como desarrollador, principalmente de Front en proyectos corporativos de <em>SEMADE</em> del <em>Ministerio de Defensa</em>, me especialicé en el diseño de interfaces de usuario utilizando <strong>Angular</strong>,
        <strong>PrimeNG</strong> y <strong>Bootstrap</strong>. En el ámbito del backend, implementé soluciones robustas con <strong>Java</strong>, <strong>Spring Boot</strong> y <strong>Oracle SQL</strong>.
      </p>
      <p>
         Además, utilicé <strong>Git</strong> y <strong>GitHub</strong> para gestionar el control de versiones y facilitar la colaboración en equipo. Colaboré eficientemente en equipos multidisciplinarios y aseguré la actualización constante de las
         aplicaciones para garantizar su rendimiento y alineación con los estándares de calidad.
      </p>
      <p><strong><em>Ubicación:</em></strong> C. de Arturo Soria, 289, 28033 Madrid</p>
    </div>

    <!-- Experiencia ATOS2 -->
    <div class="job">
      <h3>Analista Funcional - Scrum Master</h3>
      <h4>Atos (Cestic) - Julio de 2021 - Agosto de 2022 (1 año 2 meses)</h4>
      <p>
        En mi rol como Analista Funcional y ayudante del Scrum Master en <em>Atos</em>, me encargué de la consultoría y análisis en proyectos corporativos <em>SEMADE</em> del <em>Ministerio de Defensa</em>.
      </p>
      <p>
        Implementé el proceso <strong>SCRUM</strong>, apoyando la planificación y estimación de tareas, así como la monitorización del progreso del equipo. 
        Fomenté la mejora continua y promoví la autoorganización, utilizando herramientas como <strong>Git</strong> y <strong>GitLab</strong> para la gestión del código, <strong>Jenkins</strong> para la integración continua, y
        <strong>Trello</strong> para la planificación de tareas. Además, empleé <strong>Postman</strong> para la prueba y validación de APIs, garantizando la entrega de proyectos de alta calidad.
      </p>
      <p><strong><em>Ubicación:</em></strong> C. de Arturo Soria, 289, 28033 Madrid</p>
    </div>

    <!-- Experiencia ATOS1 -->
    <div class="job">
      <h3>Desarrollador Full Stack</h3>
      <h4>Atos - Marzo de 2021 - Junio de 2021 (4 meses)</h4>
      <p>
        Durante este tiempo trabajé en la creación de la interfaz de usuario utilizando <strong>Angular</strong>, lo que me permitió desarrollar una aplicación dinámicas y responsiva.
         También implementé el sistema de servidor con <strong>Spring Boot</strong>, lo que facilitó la construcción de servicios robustos y escalables.
      </p>
      <p>
        En este proyecto, aproveché los servicios de Internet de las Cosas (<em>IoT</em>) ofrecidos por <strong>Azure IoT</strong>, lo que me permitió integrar funcionalidades innovadoras en la aplicación.
      </p>
      <p>
        Además, desarrollé una aplicación para dispositivos IoT en la plataforma <em>Android</em>, utilizando <strong>Java</strong> y el <strong>SDK de Android</strong>, lo que contribuyó a ofrecer una experiencia
          de usuario fluida en dispositivos móviles.
      </p>
      <p><strong><em>Ubicación:</em></strong> C. de Albarracín, 25, 28037 Madrid</p>
    </div>
    
  </div>
</section>

  