<section id="experiencia" class="py-5">
  <div class="container">
    <h5 class=" mb-5">Experiencia Profesional.</h5>

    <!-- Experiencia 1 -->
    <div class="job">
      <h3>Especialista en Testing Automático y Desarrollador Power Platform</h3>
      <h4>Fervimax Group - Mayo de 2024 - Present (6 meses)</h4>
      <p>Encargado de testing automático en flujo CI/CD del equipo de DevOps dentro del departamento de Digital Services de FCC realizando pruebas con Selenium.</p>
      <p>Desarrollador con tecnologías Power Platform, donde diseño y construyo aplicaciones personalizadas con Power Apps, automatizo procesos con Power Automate y analizo datos con Power BI. Mi objetivo es optimizar la eficiencia empresarial y facilitar la toma de decisiones a través de soluciones digitales innovadoras.</p>
      <p><strong>Ubicación:</strong> Madrid, Comunidad de Madrid, España</p>
    </div>

    <!-- Experiencia 2 -->
    <div class="job">
      <h3>Desarrollador de Front-end</h3>
      <h4>Atos - Septiembre de 2022 - Agosto de 2024 (2 años)</h4>
      <p>Como desarrollador frontend de proyectos corporativos SEMADE de MINISDEF, diseñé interfaces de usuario con Angular, PrimeNG y Bootstrap. En el backend, utilicé Java con Spring Boot y Oracle SQL.</p>
      <p>Realicé pruebas, colaboré en equipo y mantuve las aplicaciones actualizadas.</p>
      <p><strong>Ubicación:</strong> C. de Albarracín, 25, 28037 Madrid</p>
    </div>

    <!-- Experiencia 3 -->
    <div class="job">
      <h3>Analista Funcional</h3>
      <h4>Atos - Julio de 2021 - Agosto de 2022 (1 año 2 meses)</h4>
      <p>Consultoría y análisis de proyectos corporativos SEMADE del Ministerio de Defensa.</p>
      <p>Proceso SCRUM: Ayudar en la planificación y estimación, monitorización del progreso, promover la mejora continua, apoyo a la autoorganización, y el uso de nuevas herramientas y metodologías ágiles.</p>
      <p><strong>Ubicación:</strong> C. de Albarracín, 25, 28037 Madrid</p>
    </div>

    <!-- Experiencia 4 -->
    <div class="job">
      <h3>Desarrollador Full Stack</h3>
      <h4>Atos - Marzo de 2021 - Junio de 2021 (4 meses)</h4>
      <p>Creación de la interfaz de usuario frontal utilizando Angular y la implementación del sistema de servidor con Spring Boot, aprovechando los servicios de Internet de las cosas (IoT) proporcionados por Azure IoT.</p>
      <p>Además, desarrollo de una aplicación para dispositivos IoT en la plataforma Android utilizando Java.</p>
      <p><strong>Ubicación:</strong> C. de Albarracín, 25, 28037 Madrid</p>
    </div>
    
  </div>
</section>

  