#experiencia {

  h5 {
    margin-left: 50px;
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 50px;
  }

  .job {
    margin-bottom: 30px; /* Espacio entre cada experiencia */
    padding: 20px;
    //background: #f8f9fa;
    background: #ffffff;
    border-radius: 10px;
    //Propiedades del borde de la caja
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    //border-bottom: 2px solid #6c757d;

    &:hover {
      transition: transform 0.2s ease-in-out;
      transform: scale(1.05); /* Aumenta el tamaño */
    }

    h3 {
      font-size: 1.5rem;
      color: #343a40;
    }

    h4 {
      font-size: 1.2rem;
      color: #6c757d;
    }

    p {
      font-size: 1rem;
      color: #495057;
    }

    p strong {
      color: #343a40; /* Resalta la ubicación */
    }

    $content-padding: 10px; 

    .content-container {
      display: flex; // Activa Flexbox
      align-items: center; // Centra verticalmente el contenido
      padding: $content-padding;
  
      .image-container {
          margin-right: $content-padding; // Espacio entre la imagen y el texto
          width: 4%; // Ajusta el tamaño del contenedor de la imagen
          height: 4%; // Ajusta el tamaño del contenedor de la imagen
          overflow: hidden; // Asegúrate de que la imagen no sobresalga
  
          .image {
              width: 100%; // La imagen ocupa todo el ancho del contenedor
              height: auto; // Mantiene la proporción
              max-height: 60px; // Limita la altura de la imagen
          }
      }
  }
  }

}


  