/*
#experiencia {
    .job {
      margin-bottom: 30px;
  
      h3 {
        font-size: 1.5rem;
        font-weight: bold;
      }
  
      h4 {
        font-size: 1.2rem;
        color: #555;
      }
  
      p {
        color: #666;
      }
    }
}

*/

#experiencia {
  .job {
    margin-bottom: 30px; /* Espacio entre cada experiencia */
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &:hover {
      transition: transform 0.4s ease-in-out;
      transform: scale(1.05); /* Aumenta el tamaño */
    }

    h3 {
      font-size: 1.5rem;
      color: #343a40;
    }

    h4 {
      font-size: 1.2rem;
      color: #6c757d;
    }

    p {
      font-size: 1rem;
      color: #495057;
    }

    p strong {
      color: #343a40; /* Resalta la ubicación */
    }
  }

  h5 {
    margin-left: 50px;
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 50px;
  }
}


  