<section id="experiencia" class="py-5">
  <div class="container">
    <h5 class=" mb-5">Experiencia Profesional.</h5>

    <!-- Experiencia 1 -->
    <div class="job">
      <h3>Especialista en Testing Automático y Desarrollador Power Platform</h3>
      <h4>Fervimax Group (Fcc) - Mayo de 2024 - Present (6 meses)</h4>
      <p>En mi rol actual como Especialista en Testing Automático y Desarrollador Power Platform en Fervimax Group, soy responsable de implementar pruebas automáticas en el flujo CI/CD del 
        equipo de DevOps dentro del departamento de Digital Services de FCC, utilizando Selenium para garantizar la calidad y la fiabilidad del software.</p>
      <p>Como desarrollador en la Power Platform, diseño y construyo aplicaciones personalizadas con Power Apps, automatizo procesos mediante Power Automate y analizo datos con Power BI.</p>
      <p>Además, he integrado mis habilidades de diseño utilizando Figma para crear prototipos y maquetas de las aplicaciones, asegurando que las interfaces sean intuitivas y alineadas 
        con las necesidades del usuario. Esta combinación de habilidades técnicas y de diseño me permite contribuir de manera efectiva a proyectos que mejoran la operatividad y la experiencia del cliente.</p>
      <p><strong>Ubicación:</strong> C.Federico Salmón, 13, 28016, Madrid</p>
    </div>

    <!-- Experiencia 2 -->
    <div class="job">
      <h3>Desarrollador Full Stack</h3>
      <h4>Atos (Cestic)- Septiembre de 2022 - Agosto de 2024 (2 años)</h4>
      <p>Desempeñé un puesto como desarrollador, principalmente de Front en proyectos corporativos de SEMADE del <em>Ministerio de Defensa</em>, me especialicé en el diseño de interfaces de usuario utilizando Angular,
         PrimeNG y Bootstrap. En el ámbito del backend, implementé soluciones robustas con Java, Spring Boot y Oracle SQL.
      </p>
      <p>
         Además, utilicé Git y GitHub para gestionar el control de versiones y facilitar la colaboración en equipo. Colaboré eficientemente en equipos multidisciplinarios y aseguré la actualización constante de las
         aplicaciones para garantizar su rendimiento y alineación con los estándares de calidad.</p>
      <p><strong>Ubicación:</strong> C. de Arturo Soria, 289, 28033 Madrid</p>
    </div>

    <!-- Experiencia 3 -->
    <div class="job">
      <h3>Analista Funcional - Scrum Master</h3>
      <h4>Atos (Cestic) - Julio de 2021 - Agosto de 2022 (1 año 2 meses)</h4>
      <p>En mi rol como Analista Funcional y ayudante del Scrum Master en Atos, me encargué de la consultoría y análisis en proyectos corporativos SEMADE del Ministerio de Defensa.</p>
      <p>Implementé el proceso SCRUM, apoyando la planificación y estimación de tareas, así como la monitorización del progreso del equipo. 
        Fomenté la mejora continua y promoví la autoorganización, utilizando herramientas como Git y GitLab para la gestión del código, Jenkins para la integración continua, y
         Trello para la planificación de tareas. Además, empleé Postman para la prueba y validación de APIs, garantizando la entrega de proyectos de alta calidad.</p>
      <p><strong>Ubicación:</strong> C. de Arturo Soria, 289, 28033 Madrid</p>
    </div>

    <!-- Experiencia 4 -->
    <div class="job">
      <h3>Desarrollador Full Stack</h3>
      <h4>Atos - Marzo de 2021 - Junio de 2021 (4 meses)</h4>
      <p>Durante este tiempo trabajé en la creación de la interfaz de usuario utilizando Angular, lo que me permitió desarrollar una aplicación dinámicas y responsiva.
         También implementé el sistema de servidor con Spring Boot, lo que facilitó la construcción de servicios robustos y escalables.</p>
      <p>En este proyecto, aproveché los servicios de Internet de las Cosas (IoT) ofrecidos por Azure IoT, lo que me permitió integrar funcionalidades innovadoras en la aplicación.
        
      </p>
      <p>
        Además, desarrollé una aplicación para dispositivos IoT en la plataforma Android, utilizando Java y el SDK de Android, lo que contribuyó a ofrecer una experiencia
          de usuario fluida en dispositivos móviles.</p>
      <p><strong>Ubicación:</strong> C. de Albarracín, 25, 28037 Madrid</p>
    </div>
    
  </div>
</section>

  