<!--section id="habilidades" class="py-5 bg-light">
    <div class="container">
      <h2 class="text-center">Habilidades Técnicas</h2>
      <ul class="list-unstyled">
        <li>📂 Gestión de Servidores y Configuración (AWS, Azure, GCP)</li>
        <li>⚙️ Automatización y Scripting (Python, Bash, Ansible)</li>
        <li>🚀 CI/CD (Jenkins, GitLab CI, GitHub Actions)</li>
        <li>🔍 Monitoreo y Logs (Prometheus, Grafana, ELK Stack)</li>
        <li>🐳 Contenedores y Orquestación (Docker, Kubernetes)</li>
      </ul>
    </div>
</section-->
  

<section id="habilidades" class="py-5 bg-light">
  <div class="container">
      <h5 class="mb-4">Habilidades Técnicas.</h5>
      <div class="row">
          <!-- Columna 1 -->
          <div class="col-md-6">
              <h4 class="mb-3">Certificaciones</h4>
              <ul class="list-unstyled">
                <li>🌐 EF SET (C2 Proficient) - Inglés</li>
                <li>☁️ AWS Certified Cloud Practitioner</li>
                <li><i class="fab fa-github"></i>  GitHub Foundations</li>
                <li>🐧 LPI Linux Essentials</li>
              </ul>

              <h4 class="mb-3">Lenguajes y Programación</h4>
              <ul class="list-unstyled">
                <li>👨‍💻 Java</li>
                <li>🔄 TypeScript</li>
                <li>💻 Python</li>
                <li>📜 SQL</li>
                <li>📱 Android SDK</li>
                <li>🖥️ HTML5 y CSS3</li>
              </ul>

              <h4 class="mb-3">Cloud y DevOps</h4>
              <ul class="list-unstyled">
                <li>☁️ Cloud Computing (AWS, Azure)</li>
                <li>🚀 CI/CD (Jenkins, GitHub Actions)</li>
                <li>📦 Docker y Contenedores</li>
              </ul>
          </div>

          <!-- Columna 2 -->
          <div class="col-md-6">
              
              <h4 class="mb-3">Bases de Datos y Análisis</h4>
              <ul class="list-unstyled">
                <li>📜 Oracle SQL Developer</li>
                <li>📊 Análisis de Datos R (Universitat Oberta de Catalunya)</li>
                <li>🔍 Análisis de Sistemas y Procesos</li>
              </ul>

              <h4 class="mb-3">Frameworks y Librerías</h4>
              <ul class="list-unstyled">
                <li>🔄 Angular</li>
                <li>⚙️ Spring Boot</li>
                <li>🛠️ PrimeNG</li>
                <li>💡 Bootstrap</li>
              </ul>

              <h4 class="mb-3">Plataformas y Herramientas</h4>
              <ul class="list-unstyled">
                <li>🔧 Selenium (Testing Automatizado)</li>
                <li>💻 Microsoft Power Platform (PowerApps, Power Automate, Power BI)</li>
                <li>🐧 Shell Scripting (Bash, Linux)</li>
              </ul>

              <h4 class="mb-3">Otras Habilidades</h4>
              <ul class="list-unstyled">
                <li>💡 Arquitectura de Redes</li>
                <li>📑 Planificación y Gestión de Proyectos</li>
              </ul>
          </div>
      </div>
  </div>
</section>

